build/
*.weights
*.engine
*.pdb
x64/
ipch/
data/
*.sdf
*.opensdf
*.exp
*.db
*.ipdb
*.dll
*.lib
*.table
api/
*.iobj
*.opendb
*.exe
.vs/
.vscode/
*.log
.idea/

build-ci/

build-nx/

cmake-build-debug/

configs/calibration_images.txt.bak

configs/yolov4-kFLOAT.engine.1060
jpg/
